<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Allergy</title>
  </head>
  <body>
    <h1>Results</h1>
        {% if outputs is not empty %}
          <ul>
            {% for output in outputs %}
              <li> {{ output }} </li>
            {% endfor %}
          </ul>
        {% endif %}
    <a href='/'><button type='button'>Home</button></a>
  </body>
</html>
